processory.json
{"flowContents":{"identifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"tytkowskid","comments":"","position":{"x":40.0,"y":-712.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"78da0460-f8e0-3376-b064-f6ede1b64561","name":"GetHDFS","comments":"","position":{"x":832.0,"y":32.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.GetHDFS","properties":{"Keep Source File":"false","Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","File Filter Regex":"pogoda2.csv","Minimum File Age":"0 sec","Filter Match Name Only":"true","Polling Interval":"0 sec","Ignore Dotted Files":"true","Maximum File Age":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Recurse Subdirectories":"true","kerberos-credentials-service":null,"Kerberos Keytab":null,"Batch Size":"100","Kerberos Principal":null,"Kerberos Relogin Period":"4 hours","Directory":"/user/tytkowskid/nifi_in"},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Filter Match Name Only":{"name":"Filter Match Name Only","displayName":"Filter Match Name Only","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"f20b39da-4fd3-3919-a641-a36b5af10cc3","name":"ListHDFS","comments":"","position":{"x":1736.0,"y":32.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.ListHDFS","properties":{"Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"Distributed Cache Service":null,"Recurse Subdirectories":"true","file-filter-mode":"filter-mode-directories-and-files","File Filter":".*przejazdy.csv","kerberos-credentials-service":null,"Kerberos Keytab":null,"Kerberos Principal":null,"Kerberos Relogin Period":"4 hours","minimum-file-age":null,"Directory":"/user/tytkowskid/nifi_in"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"610d8332-8b74-3cd3-8b90-fd9a11c0fd57","name":"GetFile","comments":"","position":{"x":368.0,"y":72.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.GetFile","properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/vagrant/nifi/input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.(json|csv)","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"c95bbfd3-955c-3808-a14c-41cf3a1e5e13","name":"PutHBaseRecord","comments":"","position":{"x":992.0,"y":512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.hbase.PutHBaseRecord","properties":{"Table Name":"pogoda_hist","Row Identifier Field Name":"id","hbase-record-null-field-strategy":"skip-field","Column Family":"data","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"1000","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"11a87978-22c5-37b7-b88e-a6f423bb3384","HBase Client Service":"cd7817e9-dfa8-394b-9dc7-253e8f975868","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"52aa5625-acf6-3ac3-8aec-d6f8501670c8","name":"ListHDFS","comments":"","position":{"x":1216.0,"y":-8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.ListHDFS","properties":{"Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"Distributed Cache Service":null,"Recurse Subdirectories":"true","file-filter-mode":"filter-mode-directories-and-files","File Filter":"pogoda_hist.csv","kerberos-credentials-service":null,"Kerberos Keytab":null,"Kerberos Principal":null,"Kerberos Relogin Period":"4 hours","minimum-file-age":null,"Directory":"/user/tytkowskid/nifi_in"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"570e1419-ca6f-35a8-b750-3458f2a1508b","name":"FetchHDFS","comments":"","position":{"x":1856.0,"y":328.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${path}/${filename}","Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":null,"Compression codec":"NONE","Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"bec204d2-d951-3784-9f66-faf0c8d5a501","name":"FetchHDFS","comments":"","position":{"x":1216.0,"y":240.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${path}/${filename}","Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":null,"Compression codec":"NONE","Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"a7500642-6cdb-3433-b39d-5ba12c22bf37","name":"PutHBaseRecord","comments":"","position":{"x":1776.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.hbase.PutHBaseRecord","properties":{"Table Name":"przejazdy_hist","Row Identifier Field Name":"id","hbase-record-null-field-strategy":"skip-field","Column Family":"data","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"1000","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"11a87978-22c5-37b7-b88e-a6f423bb3384","HBase Client Service":"cd7817e9-dfa8-394b-9dc7-253e8f975868","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"44619f79-5b11-3b78-a1a4-d84b28860fe0","name":"PutHDFS","comments":"","position":{"x":368.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"Kerberos Relogin Period":"4 hours","Directory":"/user/tytkowskid/nifi_in","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ed521039-abfb-3639-8f2b-b5214817b34f","name":"","source":{"id":"f20b39da-4fd3-3919-a641-a36b5af10cc3","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"ListHDFS","comments":""},"destination":{"id":"570e1419-ca6f-35a8-b750-3458f2a1508b","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"FetchHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"744201d4-3e26-36ff-a5d6-d7b83b88d451","name":"","source":{"id":"78da0460-f8e0-3376-b064-f6ede1b64561","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"GetHDFS","comments":""},"destination":{"id":"c95bbfd3-955c-3808-a14c-41cf3a1e5e13","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"PutHBaseRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"267c0c9f-af13-3de0-848c-64e7f29c4ab2","name":"","source":{"id":"52aa5625-acf6-3ac3-8aec-d6f8501670c8","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"ListHDFS","comments":""},"destination":{"id":"bec204d2-d951-3784-9f66-faf0c8d5a501","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"FetchHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"a2c29055-6fb3-34dd-b7f0-3aa516e3d44e","name":"","source":{"id":"bec204d2-d951-3784-9f66-faf0c8d5a501","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"FetchHDFS","comments":""},"destination":{"id":"c95bbfd3-955c-3808-a14c-41cf3a1e5e13","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"PutHBaseRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"01b8aef1-3d0e-373f-b983-bf01a9102f26","name":"","source":{"id":"610d8332-8b74-3cd3-8b90-fd9a11c0fd57","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"GetFile","comments":""},"destination":{"id":"44619f79-5b11-3b78-a1a4-d84b28860fe0","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"b9173fe9-d907-3674-827f-9b8c3a8e771a","name":"","source":{"id":"570e1419-ca6f-35a8-b750-3458f2a1508b","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"FetchHDFS","comments":""},"destination":{"id":"a7500642-6cdb-3433-b39d-5ba12c22bf37","type":"PROCESSOR","groupId":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573","name":"PutHBaseRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"}],"labels":[{"identifier":"386467f1-7e50-3eff-9e73-f9e3813a5f39","position":{"x":784.0,"y":-16.0},"label":"pogoda to hbase\n","width":840.0,"height":752.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"dbfcd58e-e174-36b1-928e-6347eee97031","position":{"x":336.0,"y":40.0},"label":"Put CSV and JSON on HDFS","width":432.0,"height":544.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"add80b33-2251-3afe-8b13-383ed6b1433a","position":{"x":1688.0,"y":8.0},"label":"przejazdy do hbase","width":584.0,"height":776.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"}],"funnels":[],"controllerServices":[{"identifier":"cd7817e9-dfa8-394b-9dc7-253e8f975868","name":"HBase_1_1_2_ClientService_pogoda","comments":"","type":"org.apache.nifi.hbase.HBase_1_1_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_1_1_2-client-service-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"kerberos-credentials-service":null,"Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":null,"HBase Client Retries":"1","Hadoop Configuration Files":"/usr/local/hadoop/etc/hadoop/core-site.xml,\n/usr/local/hbase/conf/hbase-site.xml","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["DIRECTORY","URL","FILE"]}}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"fa55c4f3-981c-3318-893d-c1db267154f6","name":"JsonRecordSetWriter_pogoda_hist","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"},{"identifier":"11a87978-22c5-37b7-b88e-a6f423bb3384","name":"CSVReader_pogoda_hist","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.14.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.14.0"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"becbdccc-b2d2-3183-a5e5-e0f4ab1f8573"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}